.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid black;
}

.title {
  font-size: 2rem;
}

.links {
  display: flex;
  gap: 2rem;
}

.link:hover {
  cursor: pointer;
}
