.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid black;
  height: 100px;
}

.title {
  font-size: 2rem;
}

.links {
  display: flex;
  gap: 2rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  cursor: pointer;
}
