.dashboard__container {
  display: grid;
  grid-template-columns: 20% 80%;

  width: 100%;
  height: calc(
    100% - 100px
  ); /* Magic number, get rid of this later navbar height */
}

.dashboard__nav {
  width: 100%;
  border-right: 1px solid black;
  /* height: 100%; */
}

.main__dashboard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
}

.log__bet__button {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

.widgets__container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 2rem;
  height: 100%;
}

.left__widgets__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  height: 100%;
}

.left__widget {
  border: 1px solid black;
}

.right__widgets__container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 2rem;
  height: 100%;
}

.right__widget {
  border: 1px solid black;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 700px;
  width: 750px;
  padding: 2rem;
}

.form__container__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.form__container__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.current__bet__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
  border-radius: 0.6rem;
  padding: 1rem;
  width: 100%;
}

.current__bet__item__left,
.current__bet__item__right {
  display: flex;
  flex-direction: column;
}
